header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5B42A;
    padding: 14px 40px;
}

.logo{
    height: 50px;
}
    
.nav{
    display: flex;
}

.nav>li>a{
    color: white;
    font-size: 20px;
    margin-left: 20px;
    text-decoration: none;

}

.welcome{
    background-image: url(../img/background.png);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* 原色→white */
    /* カラーコード指定→＃FFFFFF */
    /* rgb指定→red green blueの配合度で色を決める */
    color: #FFFFFF;

}

@media screen and (max-width:780px) {
    .welcome{
        height: 40vh;
    }
    }
    
}

.title{
    text-align: center;
    font-size: 80px;
}

.guideline{
    font-size: 40px;
    font-weight: bold;
    text-align: center;

}

@media screen  and(max-width:780px){
    .title{
        font-size: 28px;
    }
    .guideline{
        font-size: 22px;
    }
    
}   
 {
    
}

.guideline>li{
    margin-top: 14px;
}
#programming>h2, #engineer>h2{
    font-size: 40px;
    text-align: center;
    color: gray;
    padding-top: 40px;
}

.contents>img{
    height: 150px;
    margin: 0 20px;
}

@media screen and (max-width: 780px) {
    .contents>img{
        order: 1;
    }
    .contents>p{
        order: 2;
    }
}

.contents{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin: 20px auto;
}

@media screen and  (max-width:780px) {
    .contents{
        flex-direction:column
    }
}


.description{
    width: 50%;

}

footer{
    text-align: center;
    background-color: #F5B42A;
    color: white;
    padding: 20px 0;
    margin-top: 100px;
    font-size: 20px;
}
